.book-section {
  padding: 20px;
}

.filter-container {
  margin-bottom: 20px;
}

.filter-header {
  display: flex;
  justify-content: row;
  align-items: center;
  margin: 5px;
  margin-bottom: 20px;
  background-color: #D9D9D9;
  width: min-content;
  padding : 4px;
  ;
}
.cases{ 
  margin:10px;
}

.filtre{
background-color:#F8F8F8;
width: 130px;
margin:15px;


}

.filter-icon {
  margin-right: 8px;
  font-size: 16px;
  background-color: grey;
}

.filter-text {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}

.book-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espace entre les éléments */
}

.book-item {
  width: calc(150px + 30%); /* Taille de l'image plus marge de 15% de chaque côté */
  text-align: center;
}

.image-container {
  width: 150px;
  margin-left: 15%;
  margin-right: 15%;
}

.image-container img {
  width: 100%; /* Assure que l'image prend toute la largeur du conteneur */
  height: auto;
}

.info-container {
  padding: 10px;
  text-align: center;
}

.filter-container label {
  display: block;
  margin: 5px 0;
}
/* Image  */

/* Pagination */

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
}

.page-item {
  display: flex;
  align-items: center;
}

.page-link {
  color: #000; /* Texte noir */
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}



.page-item.active .page-link {
  background-color: #007bff; /* Couleur de fond pour la page active */
  color: #fff; /* Texte blanc pour la page active */
  font-weight: bold;
}

.page-item.disabled .page-link {
  cursor: not-allowed;
  
}

.page-link svg {
  fill: #A79A9C;
}



